img {
    height: 400px;
    width: auto;
    align-items: center;
}

.pasta-img {
    transform: rotate(-90deg);
}

.page-title {
    color: rgb(104, 29, 29);
    font-size: 36px;
}

body {
    background-color:rgb(218, 175, 175);
}

.ingredients li {
    font-weight: 100;
    font-size: 24px;
    color: red;
}

.recipe-links li {
    font-size: 24px;
    font-weight: bold;
}

.steps li {
    font-weight: 100;
    font-size: 24px;
    color: blue;
}

p {
    font-size: 24px;
}

h2 {
    font-size: 30px;
}